<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-8">
          <div class="row no-gutters">
            <button class="btn btn-sm btn-success" routerLink="add" type="button">
              <i class="fa fa-plus"></i>
              &nbsp;Add New
            </button> &nbsp;&nbsp;
            <div class="col-1">
              <ng-select
                [items]="limitValue"
                [clearable]="false"
                bindLabel="key"
                bindValue="value"
                (change)="onSelectedPageSize($event)"
                [(ngModel)]="selectedDefaultValue"
              ></ng-select>
            </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-8 mt-1" style="margin-left: -15px;">
              <label>records per page</label>
            </div>
          </div>  
        </div>
        <div class="col-md-4 ml-auto">
          <div class="input-group">
            <input
              type="text"
              class="form-control search-header-input"
              placeholder="Search"
              (keyup)="updateFilter($event)"
            />
          </div>
        </div>   
      </div>
      <div class="row">
        <div class="col">
          <ngx-datatable
            #myTable
            class="material expandable"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="false"
            [scrollbarH]="true"
            [limit]="sizePage"
            [rows]="rows"
            (page)="onPage($event)"
          >
            
            <ngx-datatable-column name="Username" [width]="70">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="First Name" [width]="30">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Last Name" [width]="30">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Email" [width]="100">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Birth Date" [width]="30">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Basic Salary" [width]="30">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Status" [width]="30">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Group" [width]="30">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Description" [width]="100">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action" [width]="100">
              <ng-template 
                let-id="row.id" 
                let-username="row.username" 
                let-firstName="row.firstName" 
                let-lastName="row.lastName" 
                let-email="row.email" 
                let-birthDate="row.birthDate" 
                let-basicSalary="row.basicSalary" 
                let-status="row.status" 
                let-group="row.group" 
                let-description="row.description"
                ngx-datatable-cell-template>
                <button [routerLink]="[id]" class="btn btn-sm btn-primary" title="detail" type="button" 
                  (click)="getIdData(username, firstName, lastName, email, birthDate, basicSalary, status, group, description)">
                  <i class="fa fa-eye fa-sm"></i>
                </button>&nbsp;
                <button class="btn btn-sm btn-success" title="edit" type="button">
                  <i class="fa fa-edit fa-sm"></i>
                </button>&nbsp;
                <button class="btn btn-sm btn-danger" title="inactivate" type="button" [swal]="{
                    titleText: 'Delete Employee',
                    text: 'Do you want to delete ' + username + '?',
                    icon: 'warning',
                    showCancelButton: true
                  }"
                >
                  <i class="fa fa-trash fa-sm"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
